<h1>Word Definer</h1>

<h3>Available Words</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><strong><%=word.name%></strong></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words.</p>
<% end %>

<a href="/words/new">Add a new word</a>

<br>
<h3>Details Pages</h3>

 <% @words.each do |word| %>
  <li><a href="/words/<%= word.id %>"><%=word.name %></a></li>
  <% end %>
